@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>André Sant'Ana</h1>
<p>RM551575</p>

<select class="form-select" aria-label="Default select example">
    <option selected>Selecione o cargo</option>
    <option value="1">Aluno</option>
    <option value="2">Professor</option>
    <option value="3">Coordenador</option>
</select>